.env

test.py

*.pyc

.DS_Store

media/
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/party_pad_front_end/node_modules
/party_pad_front_end/.pnp
/party_pad_front_end/.pnp.js

# testing
/party_pad_front_end/coverage

# production
/party_pad_front_end/build

# misc
/party_pad_front_end/.DS_Store
/party_pad_front_end/.env.local
/party_pad_front_end/.env.development.local
/party_pad_front_end/.env.test.local
/party_pad_front_end/.env.production.local

/party_pad_front_end/npm-debug.log*
/party_pad_front_end/yarn-debug.log*
/party_pad_front_end/yarn-error.log*
